
.contenedor{
    padding: 5px;
    margin: auto;
    width: 960px;
    height: 850px;
    background: #F3F5FC;
}
.logo{
    width: 100%;
    float: left;

}
.left{
    float: left;
    width: 70%;
    height: 50%;
    border-radius: 0 20px 0 20px;

}
.right{
    float: right;
    width: 30%;
    border-radius: 0 20px 0 20px;
    height: 63%;
    background: white;

}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 0 20px 0 20px;

}
.logoimg{
    margin-top: 1%;
    margin-left: 5%;
    float:inherit ;
}
.title{
    float: inherit;
    margin-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 3px lightgray;

}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    outline: none;
    background: #F3F5FC;
}
#muneco{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;

}
#texto2{
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 30%;
    border: none;
    outline: none;
    font-size: 15px;
}

.msg-minusculas{
   margin-left: auto;
   width: 80%;
   height: 18px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 400;
   font-size: 12px;
   line-height: 100%;
   color: #495057;
   opacity: 0.8;

   flex: none;
   order: 1;
   flex-grow: 0;
}
#btn-encriptar{
   padding: 24px;
   width: 30%;
   height: 60%;
   border-radius: 0 20px 0 20px;
   margin-left: 10%;
   background: #0A3871;
   font-size: 16px;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   color: #D8DFE8;
   font-weight: bold;
   transition: 1s all;
   cursor: pointer;

}
#btn-encriptar:hover {
  background: blue;
  transform: scale(1.1);
}
#btn-desencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 0 20px 0 20px;
    margin-left: 10%;
    background: #D8DFE8;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #0A3871;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
 }
 #btn-desencriptar:hover {
   background: darkgray;
   transform: scale(1.1);
 }

 #copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #ffffff;
    border: 1px solid #0A3871;
    border-radius: 0 20px 0 20px;
    display: none;
    transition: 1s all;
    cursor: pointer;
    font-family: Courier;
    font-size: 18px;
    text-align: center;
 }
 #copiar:hover{
   background: darkgray;
   transform: scale(1.1);

 }
 #texto{
   font-size: 20px;
   text-align: center;
   font-family: Courier;

 }
